USE [master]
GO
/****** Object:  Database [GlobeTapX]    Script Date: 17/4/2026 10:36:50 ******/
CREATE DATABASE [GlobeTapX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GlobeTapX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GlobeTapX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GlobeTapX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GlobeTapX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GlobeTapX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GlobeTapX]
GO
/****** Object:  User [alumno]    Script Date: 17/4/2026 10:36:50 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[AgendaUsuario]    Script Date: 17/4/2026 10:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgendaUsuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NULL,
	[IDEvento] [int] NULL,
	[interes] [bit] NULL,
	[recordatorio] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 17/4/2026 10:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[descripcion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaEmergencia]    Script Date: 17/4/2026 10:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaEmergencia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactoEmergencia]    Script Date: 17/4/2026 10:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactoEmergencia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPais] [int] NULL,
	[IDCategoriaEmergencia] [int] NULL,
	[nombre] [varchar](100) NULL,
	[telefono] [varchar](50) NULL,
	[creadoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContenidoPais]    Script Date: 17/4/2026 10:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContenidoPais](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPais] [int] NULL,
	[IDCategoria] [int] NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](max) NULL,
	[creadoPorID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContenidoPorCategoria]    Script Date: 17/4/2026 10:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContenidoPorCategoria](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPais] [int] NULL,
	[IDCategoria] [int] NULL,
	[titulo] [varchar](100) NULL,
	[contenido] [varchar](max) NULL,
	[creadoPor] [int] NULL,
	[fechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estadisticas]    Script Date: 17/4/2026 10:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estadisticas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[paisesVisitados] [int] NULL,
	[kilometrosRecorridos] [int] NULL,
	[expediciones] [int] NULL,
	[ultimaUbicacion] [varchar](150) NULL,
	[fechaActualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventoFavorito]    Script Date: 17/4/2026 10:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoFavorito](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[IDEvento] [int] NOT NULL,
	[fechaAgregado] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventoPais]    Script Date: 17/4/2026 10:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoPais](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPais] [int] NULL,
	[IDCategoria] [int] NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [nvarchar](max) NULL,
	[fechaInicio] [datetime] NULL,
	[fechaFin] [datetime] NULL,
	[ubicacion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial]    Script Date: 17/4/2026 10:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NULL,
	[query] [varchar](500) NULL,
	[dispositivo] [varchar](50) NULL,
	[fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogCambios]    Script Date: 17/4/2026 10:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogCambios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NULL,
	[accion] [varchar](50) NULL,
	[tipoEntidad] [varchar](50) NULL,
	[IDEntidad] [int] NULL,
	[diferencia] [varchar](max) NULL,
	[fechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Multimedia]    Script Date: 17/4/2026 10:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Multimedia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDEntidad] [int] NOT NULL,
	[tipoEntidad] [varchar](20) NOT NULL,
	[urlImagen] [varchar](500) NOT NULL,
	[esPrincipal] [bit] NULL,
	[fechaCarga] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 17/4/2026 10:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[descripcion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoAdmin]    Script Date: 17/4/2026 10:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAdmin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicacion]    Script Date: 17/4/2026 10:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicacion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[posicion] [geography] NOT NULL,
	[ultimaActualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 17/4/2026 10:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[mail] [varchar](320) NOT NULL,
	[contrasena] [varchar](50) NULL,
	[nombreCompleto] [varchar](100) NULL,
	[numeroContacto] [varchar](50) NULL,
	[IDTipoAdmin] [int] NULL,
	[esPremium] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__7A21290498F73158]    Script Date: 17/4/2026 10:36:51 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ContenidoPorCategoria] ADD  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Estadisticas] ADD  DEFAULT ((0)) FOR [paisesVisitados]
GO
ALTER TABLE [dbo].[Estadisticas] ADD  DEFAULT ((0)) FOR [kilometrosRecorridos]
GO
ALTER TABLE [dbo].[Estadisticas] ADD  DEFAULT ((0)) FOR [expediciones]
GO
ALTER TABLE [dbo].[Estadisticas] ADD  DEFAULT (getdate()) FOR [fechaActualizacion]
GO
ALTER TABLE [dbo].[EventoFavorito] ADD  DEFAULT (getdate()) FOR [fechaAgregado]
GO
ALTER TABLE [dbo].[Historial] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[LogCambios] ADD  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Multimedia] ADD  DEFAULT ((0)) FOR [esPrincipal]
GO
ALTER TABLE [dbo].[Multimedia] ADD  DEFAULT (getdate()) FOR [fechaCarga]
GO
ALTER TABLE [dbo].[Ubicacion] ADD  DEFAULT (getdate()) FOR [ultimaActualizacion]
GO
ALTER TABLE [dbo].[AgendaUsuario]  WITH CHECK ADD FOREIGN KEY([IDEvento])
REFERENCES [dbo].[EventoPais] ([ID])
GO
ALTER TABLE [dbo].[AgendaUsuario]  WITH CHECK ADD FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[ContactoEmergencia]  WITH CHECK ADD FOREIGN KEY([creadoPor])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[ContactoEmergencia]  WITH CHECK ADD FOREIGN KEY([IDCategoriaEmergencia])
REFERENCES [dbo].[CategoriaEmergencia] ([ID])
GO
ALTER TABLE [dbo].[ContactoEmergencia]  WITH CHECK ADD FOREIGN KEY([IDPais])
REFERENCES [dbo].[Pais] ([ID])
GO
ALTER TABLE [dbo].[ContenidoPais]  WITH CHECK ADD FOREIGN KEY([creadoPorID])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[ContenidoPais]  WITH CHECK ADD FOREIGN KEY([IDCategoria])
REFERENCES [dbo].[Categoria] ([ID])
GO
ALTER TABLE [dbo].[ContenidoPais]  WITH CHECK ADD FOREIGN KEY([IDPais])
REFERENCES [dbo].[Pais] ([ID])
GO
ALTER TABLE [dbo].[ContenidoPorCategoria]  WITH CHECK ADD FOREIGN KEY([creadoPor])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[ContenidoPorCategoria]  WITH CHECK ADD FOREIGN KEY([IDCategoria])
REFERENCES [dbo].[Categoria] ([ID])
GO
ALTER TABLE [dbo].[ContenidoPorCategoria]  WITH CHECK ADD FOREIGN KEY([IDPais])
REFERENCES [dbo].[Pais] ([ID])
GO
ALTER TABLE [dbo].[Estadisticas]  WITH CHECK ADD FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[EventoFavorito]  WITH CHECK ADD FOREIGN KEY([IDEvento])
REFERENCES [dbo].[EventoPais] ([ID])
GO
ALTER TABLE [dbo].[EventoFavorito]  WITH CHECK ADD FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[EventoPais]  WITH CHECK ADD FOREIGN KEY([IDCategoria])
REFERENCES [dbo].[Categoria] ([ID])
GO
ALTER TABLE [dbo].[EventoPais]  WITH CHECK ADD FOREIGN KEY([IDPais])
REFERENCES [dbo].[Pais] ([ID])
GO
ALTER TABLE [dbo].[Historial]  WITH CHECK ADD FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[LogCambios]  WITH CHECK ADD FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([IDTipoAdmin])
REFERENCES [dbo].[TipoAdmin] ([ID])
GO
USE [master]
GO
